html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.body-home{
    background-image: url('images/restaurant.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-meals{
   background-color: #191817;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-food{
    background-color: #191817;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*=================== HOME ===================*/

#home{
    width: 70%;
    margin: auto;
    padding-top: 100px;
}

.logo{
    display: block;
    margin: auto;
    background-color: #D0A933;
    border: 2px solid black;
    border-radius: 10px;
    width: 95%;
}

#home img{
    display: block;
    margin: auto;
    width: 400px;
    object-fit: cover;
}

.meal-types{
    width: 100%;
    margin: auto;
    padding-top: 20px;
    overflow: hidden;
}

.meal-types h1{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    display: block;
    background-color: #D0A933;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 50px;
}

.meal-types a{
    text-decoration: none;
}

/*=================== HEADER ===================*/

.header{
    width: 100%;
    background-color: #D0A933;
}

.header img{
    width: 300px;
    display: block;
    margin: auto;
}

.header i{
    color: black;
    margin-top: 20px;
    float: left;
    padding: 10px 5px 0px 10px;
    font-size: 15px;
}

/*=================== MEALS BACKGROUND ===================*/

#meal-items-background{
    background-color: #191817;
    margin-top: 0;
    border: 5px solid #191817;
}


#topLeft {
    width: 15%;
    position: absolute;
    left: 0;
    top: 15;
  }
  
  #topRight {
    width: 15%;
    position: absolute;
    right: 0;
    top: 15;
  }
  
  #botLeft {
    width: 15%;
    left: 0;
    bottom: 0;
  }
  
  #botRight {
    width: 15%;
    float: right;
    right: 0;
    bottom: 0;
  }

.meal-items{
    display: block;
    margin: auto;
    width: 60%;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #e0bb4d;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 170px;
    position:relative; 
    overflow:hidden;

}

.meal-items a{
    text-decoration: none;
    color: black;
}

.meal-items h1{
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
}

.meal-items h2{
    padding: 10px;
    font-size: 20px;
}

.meal-items img{
    float: right;
    width: 100px;
    padding: 10px;
}

.meal-items-drink{
    margin-top: 30px;
}

/*=================== MEAL INFO ===================*/

.meal-info img{
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 50px;
    position:relative; 
    overflow:hidden;
}

.meal-info h1{
    text-align: center;
    color:  #e0bb4d;
    font-size: 25px;
    text-transform: uppercase;
}

.meal-info h2{
    text-align: center;
    color:  #e0bb4d;
}

.about-meal{
    display: block;
    margin: auto;
    color: white;
    margin-top: 50px;
    width: 80%;
    padding-bottom: 50px;
}

.about-meal p{
    padding: 10px;
}

.about-meal ul{
    padding-left: 30px;
}

.about-meal li{
    padding: 10px;
}

/*=================== PLACE ORDER ===================*/

.submit-form textarea{
    height: 200px;
    width: 70%;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.button{
    display: block;
    width: 150px;
    background-color: #D0A933;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    padding: 10px;
    color: black;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

#thank-you h1{
    color: #e0bb4d;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#thank-you a{
    text-decoration: none;
    text-align: center;
    background-color: #D0A933;
    color: black;
    padding: 10px;
    font-weight: bold;
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    word-spacing: 10px;
}

#thank-you img{
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 10px;
}

/*=================== MEDIA QUERY ===================*/

@media only screen and (max-width: 600px) {
    #home img{
        width: 220px;
    }

    .meal-types h1{
        font-size: 20px;
    }

    #home{
        padding-top: 200px;
    }

    .meal-items{
        width: 80%;
    }

    .meal-items h1{
        font-size: 20px;
    }

    .meal-items h2{
        font-size: 15px;
    }
}

